.splashlink {
  text-align: center;
  margin-top: 300px;
  font-size: 40px;
  
}
.splashlink a {
  color: red;
}
.splashlink a:visited {
  color: orange;
}

.alienbackground {
  background-image: url("http://spaceaim.com/wp-content/uploads/2015/08/1418824037space.jpg");
  background-repeat: no-repeat;
  background-size: 100% 220%;
}
