.splashlink {
  text-align: center;
  margin-top: 300px;
  font-size: 40px;
  
}
.splashlink a {
  color: red;
}
.splashlink a:visited {
  color: orange;
}

.alienbackground {
  background-image: url("http://spaceaim.com/wp-content/uploads/2015/08/1418824037space.jpg");
  background-repeat: no-repeat;
  background-size: 100% 220%;
}

.mainbackground {
  background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQUO8nEOIL1ot7MAMcywAiEbBKNa8W4yAO_0jQYaIIutEf2OHmx);
  background-repeat: no-repeat;
  background-size: 100% 220%;
}

.head {
  text-align: center;
}

.body {
   background-image: url("http://www.pxleyes.com/blog/wp-content/uploads/40-out-of-this-world-cg-space-scenes/2.jpg");
  background-repeat: no-repeat;
  background-size: 200% 300%;
}

