.splashlink {
  text-align: center;
  margin-top: 300px;
  font-size: 40px;
}

.alienbackground {
  background-image: url ("http://a57.foxnews.com/global.fncstatic.com/static/managed/img/fn2/feeds/LiveScience/876/493/alien-planet.jpg?ve=1&tl=1");
}
